*{
      box-sizing: border-box;
      font-family: 'Arial Narrow';
      color: #0b0c10;
      
}
body,html{
    padding: 5px;
    color: #6C5B7B ;
    background-color: #F8B195     ;
}
.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}